  <div class="container">
    <h1 class="text-center"><%= @movies.count %></h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @movies.each do |movie| %>
      <div class="col">
        <div class="card h-100">
          <img src=<%= movie.poster_url %> class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated: <%= distance_of_time_in_words_to_now(movie.created_at) %> ago</small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
