<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex bd-highlight">
    <%= link_to "Watchlist", root_path, class: "navbar-brand p-2 flex-grow-1 bd-highlight" %>
    <%= form_tag lists_path, class: "d-flex me-2 search-nav-tienda", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class:"form-control",
          placeholder: "The lord of the rings..." %>
        <%= button_tag(type: "submit", class: "btn my-0 my-sm-0 mr-sm-2") do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    <!-- <form class="d-flex">
      <input class="form-control m-1" type="search" placeholder="Search" aria-label="Search">
      <%= link_to "Search", lists_path, class: "btn btn-outline-success m-1" %>
    </form> -->
    <%= link_to "Add List", new_list_path, class: "btn btn-outline-primary m-2" %>
  </div>
</nav>
